@import "tailwindcss";

.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ag-header-cell-comp-wrapper{
    display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
}